<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title -  ניהול נתוני מעבדה</title>
    <link href="~/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("_AttachTemplates")
    <link rel="stylesheet" href="//js.arcgis.com/3.14/esri/css/esri.css">
    <link rel="stylesheet"  href="//js.arcgis.com/3.14/dijit/themes/nihilo/nihilo.css"/>

    <link href="~/Content/kendo/kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo/styles/kendo.dataviz.metro.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo/styles/kendo.metro.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/Site.min.css" rel="stylesheet" />
    
    @Html.Partial("_Scripts")
</head>
<body class="container-fluid wrapper">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("סקרי קרקע", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("תשאול", "Index", "Home")</li>
                <li>@Html.ActionLink("עריכה", "Index", "Edit")</li>
                
                
            </ul>
            @Html.Partial("_LoginPartial")
           

        </div>
    </div>
</div>
    
        @RenderBody()
    


</body>
</html>
